# Ignore database file
sci-park_web-application.db

# Ignore environment files
.env

# Ignore images folder containing profile pictures
/images/Profiles/*

/images/maintenance-request
/images/maintenance-task
/images/news
/images/roomtype-image
/images/ServiceAreaDocuments
/images/users
/images/payment
/images/organization
/images/ServiceDocuments
/images/invoices