.create-maintenance-request-page{
    .title-field{
        font-weight: 600;
        margin-bottom: 8px;
    }

    .css-c2i0tp-MuiCardContent-root:last-child {
        padding-bottom: 16px;
    }

    .css-c2i0tp-MuiCardContent-root:last-child, .css-1rbiwpz-MuiCardContent-root:last-child {
        padding-bottom: 16px;
    }

}