.maintenance-request {
    .status-section {
        .status-card {
            display: flex;
            align-items: center;

            .status-card-content{
                padding: 0;
            }
        }
    }

    .filter-section {
        .search-box {
            margin: 0 !important;
        }
    }

    .MuiTextField-root {
        margin-bottom: 0 !important;
        width: 100% !important;
    }

}