/* General layout for the component */
.outsider-maintenance-request {
    padding: 20px;
    background-color: var(--background-color);
  }
  
  /* Title styling */
  .outsider-maintenance-request .title {
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 20px;
  }
  
  /* Style for status indicators */
  .outsider-maintenance-request .status-indicators {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .outsider-maintenance-request .status-item {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .outsider-maintenance-request .status-item.success {
    color: var(--step-active);
  }
  
  .outsider-maintenance-request .status-item.in-progress {
    color: var(--sut-orange);
  }
  
  .outsider-maintenance-request .status-item.cancelled {
    color: var(--button-cancel-text);
  }
  
  .outsider-maintenance-request .status-item.pending {
    color: var(--sut-gray);
  }
  
  /* Card Styling for status indicators */
  .outsider-maintenance-request .status-card {
    margin-bottom: 20px;
    box-shadow: var(--shadow-light);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sut-white);
  }
  
  .outsider-maintenance-request .status-card .status-item {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .outsider-maintenance-request .status-item.success {
    color: var(--step-active);
  }
  
  .outsider-maintenance-request .status-item.in-progress {
    color: var(--sut-orange);
  }
  
  .outsider-maintenance-request .status-item.cancelled {
    color: var(--button-cancel-text);
  }
  
  .outsider-maintenance-request .status-item.pending {
    color: var(--sut-gray);
  }
  
  .outsider-maintenance-request .status-item span {
    margin-left: 10px;
    font-weight: bold;
  }
  
  /* Style for the search bar */
  .outsider-maintenance-request .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  /* Style for table */
  .outsider-maintenance-request .MuiTableCell-root {
    text-align: center;
  }
  
  .outsider-maintenance-request .MuiButton-root {
    margin-top: 10px;
  }
  
  .outsider-maintenance-request .MuiTableContainer-root {
    margin-top: 20px;
  }
  
  .outsider-maintenance-request .MuiButton-outlined {
    margin-right: 10px;
  }
  
  /* Responsive design adjustments */
  @media (max-width: 600px) {
    .outsider-maintenance-request .status-indicators {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .outsider-maintenance-request .status-item {
      margin-bottom: 10px;
    }
  
    .outsider-maintenance-request .MuiTextField-root {
      margin-bottom: 10px;
    }
  
    .outsider-maintenance-request .MuiButton-root {
      margin-top: 15px;
    }
  }
  