.check-requests-page {
    .card {
        display: flex;
        .card-content{
            display: flex;
            align-items: center;
            padding: 0;
            width: 100%;
        }
    }

    .filter-section {
        .search-box {
            margin: 0 !important;
        }
    }

    .MuiTextField-root {
        margin-bottom: 0 !important;
        width: 100% !important;
    }

    .css-c2i0tp-MuiCardContent-root:last-child {
        padding-bottom: 16px;
    }

}